.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #007bff;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    margin: 20px;
  }
  
  .file-upload-container:hover {
    border-color: #0056b3;
  }
  
  .file-upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #007bff;
    font-size: 16px;
  }
  
  .file-upload-label .material-icons {
    font-size: 48px;
    margin-right: 10px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:not(:disabled):hover {
    background-color: #0056b3;
  }
  .container {
    display: flex;
    height: 100vh; /* Full height */
  }
  
  .left {
    flex: 1; /* Take up 1 part of the available space */
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .right {
    flex: 2; /* Take up 2 parts of the available space */
    background-color: #d0d0d0;
    padding: 20px;
    box-sizing: border-box;
  }
  